######################################################################
# Build Tools

.gradle
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/
.idea/*.xml
/.idea/
/.idea/*.xml
!/.idea/
!/.idea/*.xml
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/

nbbuild/
dist/
nbdist/
.nb-gradle/
node_modules/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml
### VS Code ###
.vscode/
!/.idea/
!/.idea/
!/.idea/
!/.idea/
!/.idea/.gitignore
!/.idea/misc.xml
!/.idea/vcs.xml
compiler.xml
encodings.xml
jarRepositories.xml
libraries/
modules.xml
